<!-- <div class="main-content">
    <p data-bind="text: dantest"></p>
    <input type="text" data-bind="value: dantest">

    <p data-bind="text: dantest2"></p>
    <input type="text" data-bind="value: dantest2">
</div>

<div class="full name">
    <p>full name: <span data-bind="text: fullname"></span></p>
</div> -->
<div class="main-content">
    <div class="search">
        <div class="search_form">
            <p><span data-bind="text: search_keyword"></span></p>
            <div class="search_form_input">
                <input  type="text" class="search_form_input" 
                        placeholder="Search by name or SKU" 
                        data-bind=" value: search_keyword, 
                                    valueUpdate: 'afterkeydown', 
                                    event: {keyup: getKeyWord}, 
                                    hasFocus: search_focused">
            </div>
            <div class="search_form_button">
                <button>
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </div>
        <!-- <div class="search_result" data-bind="visible: search_result().length == 0 && search_focused">Not found</div>
        <div class="search_result special" data-bind="foreach: search_result, 
                                                        visible: search_result().length && result_appear, 
                                                        event: { mouseover: function(){result_focused(true)}, 
                                                        mouseout: function(){result_focused(false)} }">
            <div class="search_result_item">
                <div class="search_result_item_img">
                    <img data-bind="attr: {src: src}" alt="Product image">
                </div>
                <div class="search_result_item_info">
                    <p data-bind="text: name" class="product_name"></p>
                    <p class="product_sku">SKU#: <span data-bind="text: sku"></span></p>
                    <p class="product_price">
                        <span data-bind="text: $parent.currency"></span>
                        <span data-bind="text: price"></span>
                    </p>
                </div>
                <div class="search_result_item_checkbox">
                    <input type="checkbox" data-bind="  checked: isCheck, 
                                                        event: {change: $parent.checkToTable}">
                </div>
            </div>
        </div> -->
    </div>
</div>