<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="dan_id" translate="label" sortOrder="10">
            <label>Dan System xml</label>
        </tab>
        <section id="section_id" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>System menu</label>
            <tab>dan_id</tab>
            <resource>AHT_Actionuic::acl_rule</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General setting</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Select Action UiComponent</label>
                    <source_model>AHT\Actionuic\Model\Config\Source\Select</source_model>
                </field>
                <field id="display_text" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Fill content</label>
                    <comment>This text will display on the frontend.</comment>
                </field>
                <field id="chonmau" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Pick color</label>
                    <frontend_model>AHT\Actionuic\Block\Color</frontend_model>
                </field>
            </group>
            <group id="post" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Add more data</label>
                <field id="report" translate="label" sortOrder="5" showInDefault="1">
                    <label>Thống kê</label>
                    <frontend_model>AHT\Actionuic\Block\Dynamic</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>