// ********************Color****************************//
//  ---------------------------------------------
//  Search form
@search_border: #a0a0a0;
@item_form_bg: #a0a0a0;
@button_color: #fff;
@sku_color: #8f8f8f;
@price_color: #ff0000;
@table_color: #6495ed;

